#modal-body{
  width: 60%;
  max-width: 750px;
  height: 65%;
  /* max-height: 850px; */
  padding: 4em;
  border-radius: 5px;
  background-color: #CCE3DE;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  text-align:center;
}

.modal-input-holder{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 45px auto;
}

.close-icon{
  position: relative;
  float: right;
  left: 95%;
  width: 50px;
  cursor: pointer;
}

.latlng-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.error-message{
  color: red;
  border-radius: 5px;
  padding: 5px;
}

@media(max-width: 768px) {
  #modal-body{
    margin: 50px auto;
    width: 80vw;
    height: 90vh;
    padding: 2em
  }

  .modal-input-holder{
    gap: 15px;
    margin: 25px auto;
  }

  .modal-input-holder input {
    font-size: 12px !important;
    height: 10px;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: .9em !important;
  }

  .latlng-container {
    flex-direction: column-reverse !important;
    gap: 10px !important;
  }

  .latlng-container button {
    width: 100% !important;
  }
}
